<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%p] - %l - %m%n"/>
        </Console>

<!--        <File name="File" fileName="D:/uo/file.log" append="false">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
<!--        </File>-->

        <RollingFile name="RollingInfo" fileName="D:/uo/info.log" filePattern="D:/uo/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%p] - %l - %m%n"/>

            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>

        <logger name="com.lm16.uo" level="INFO" additivity="false">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingInfo"/>

        </logger>

<!--        <logger name="org.mybatis" level="INFO"></logger>-->
<!--        <Root level="error">-->
        <Root level="all">
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->
        </Root>

    </Loggers>
</Configuration>